.page {
  background-color: #eeeef4;
}

.info-container {
  padding: 5rpx;

  .title-container {
    display: flex;

    .icon-big {
      width: 40rpx;
      height: 40rpx;
      margin-right: 10rpx;
      margin-top: 9rpx;
    }

    .title {
      font-size: 42rpx;
      font-weight: bold;
      margin-bottom: 10rpx;
    }
  }

  .station-container {
    margin-bottom: 40rpx;
    background-color: #fff;

    .station-info {
      border: solid 1rpx #c0c0c0;
      padding: 12rpx;
      border-radius: 5rpx;
      margin-bottom: 1rpx;

      .station-distance {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10rpx;

        .station-name {
          font-weight: bold;
          margin-right: 50rpx;
        }

        .distance {
          font-size: 28rpx;
          color: #999;
        }
      }

      .lines {
        font-size: 28rpx;
        color: #2C405A;

        .icon {
          width: 28rpx;
          height: 28rpx;
          margin-top: 4rpx;
          margin-right: 10rpx;
        }

        .desc {
          margin-right: 10rpx;
        }

        .bus-line {
          background-color: #007aff;
          color: #ffffff;
          padding: 3rpx 10rpx;
          border-radius: 10rpx;
          margin-right: 15rpx;
          line-height: 2;
          line-break: auto;
        }

        .metro-line {
          color: #ffffff;
          padding: 3rpx 10rpx;
          border-radius: 10rpx;
          margin-right: 15rpx;
          line-height: 28rpx;
        }
      }
    }
  }

}
