@import url("../../style.less");

.page {
  background-color: @backgroundColor;
}

.search {
  position: sticky;
  top: 0;
  z-index: 100;
}

.map-container {
  width: 100%;
  height: 300rpx;
  position: sticky;
  top: 70rpx;
  z-index: 100;
}

.title-container {
  padding: 5rpx;
  position: sticky;
  top: 365rpx;
}

.station-list {
  margin-bottom: 30rpx;
}

.loading-block {
  z-index: -100;
}
