@import url("../../style.less");

.page {
  background-color: @backgroundColor;
}

.title {
  font-size: 36rpx;
  font-weight: bold;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
  margin-left: 15rpx;
}

.station-list {
  padding: 5rpx;

  .station-container {
    background-color: #fff;
    padding: 5rpx 15rpx;
    border: solid 1rpx #c8c7cc;
    border-radius: 5rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row {
      margin-bottom: 10rpx;
    }

    .station-row {
      display: flex;
      justify-content: space-between;

      .station-seq {
        margin-right: 10rpx;
        font-size: 30rpx;
      }

      .station-name {
        font-size: 30rpx;
        color: #333333;
      }

      .realtime {
        font-size: 25rpx;
        text-decoration: underline;
        color: #333333;
      }
    }

    .location-row {
      font-size: 24rpx;
      color: darkgray;

      .city {
        margin-right: 10rpx;
      }

      .icon {
        width: 24rpx;
        height: 24rpx;
        margin-top: 4rpx;
        margin-right: 10rpx;
      }
    }

    .realtime-row {
      color: darkgray;
      font-size: 24rpx;

      .realtime-loading {

        .loading {
          width: 24rpx;
          height: 24rpx;
          margin-right: 10rpx;

          @keyframes rotation{
            from {-webkit-transform: rotate(0deg);}
            to {-webkit-transform: rotate(360deg);}
          }
          transform: rotate(360deg);
          animation: rotation 3s linear infinite;
        }
      }

      .realtime-data {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;

        .data-block {
          color: #808080;
          margin-bottom: 10rpx;

          .icon {
            width: 14px;
            height: 14px;
            margin-right: 12rpx;
            vertical-align: -10%;
          }
        }
      }
    }

  }
}
