@import url("../../style.less");

.page {
  background-color: @backgroundColor;
}

.direction-container {
  position: sticky;
  top: 0;
  margin-bottom: 2rpx;
}

.title {
  font-size: 36rpx;
  font-weight: bold;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
  margin-left: 15rpx;
}

.station-list {
  padding: 5rpx;

  .station-container {
    background-color: #fff;
    padding: 5rpx 15rpx;
    border: solid 1rpx #c8c7cc;
    border-radius: 5rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row {
      margin-bottom: 10rpx;
    }

    .station-row {
      display: flex;
      justify-content: space-between;

      .station-seq {
        margin-right: 10rpx;
        font-size: 30rpx;
      }

      .station-name {
        font-size: 30rpx;
        color: #333333;
        margin-right: 15rpx;
      }

      .english-name {
        font-size: 20rpx;
        color: #555555;
      }

      .realtime {
        font-size: 25rpx;
        text-decoration: underline;
        color: #333333;
      }

      .transfer {
        color: #ffffff;
        font-size: 24rpx;
        line-height: 24rpx;
        margin-top: 15rpx;

        .transfer-line {
          padding: 2rpx 10rpx;
          border-radius: 10rpx;
          margin-right: 8rpx;
        }
      }
    }

    .location-row {
      font-size: 24rpx;
      color: darkgray;

      .city {
        margin-right: 10rpx;
      }

      .icon {
        width: 24rpx;
        height: 24rpx;
        margin-top: 4rpx;
        margin-right: 10rpx;
      }
    }

    .realtime-row {
      color: darkgray;
      font-size: 24rpx;
    }

  }
}
