@import url("../../style.less");

.page {
  background-color: @backgroundColor;
}

.map-container {
  width: 100%;
  height: 300px;
  position: sticky;
  top: 0;
}

.title-container {
  position: sticky;
  top: 545rpx;
}

.direction-container {
  padding: 2rpx;

  .interval {
    padding: 5rpx;
    font-weight: bold;
    margin-bottom: 10rpx;
  }
}
