@import url("../../style.less");

.page {
  background-color: @backgroundColor;
}

.title {
  padding: 5rpx;
  margin-bottom: 10rpx;

  .line-name {
    font-weight: bold;
    font-size: @titleSize;
    margin-right: 10rpx;
  }
}

.direction-container {
  padding: 2rpx;

  .interval {
    padding: 5rpx;
    font-weight: bold;
    margin-bottom: 10rpx;
  }
}
