@import url("../../style.less");

.page {
  background-color: @backgroundColor;
}

.title-container {
  padding: 10rpx;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 1rpx;

  .title {
    margin-bottom: 15rpx;

    .icon-big {
      width: 40rpx;
      height: 40rpx;
      margin-right: 10rpx;
      margin-top: 9rpx;
      vertical-align: -12%;
    }

    .station-name {
      font-size: 40rpx;
      font-weight: bold;
      margin-right: 15rpx;
    }
  }

  .location {
    font-size: 26rpx;
    color: darkgray;
    margin-top: 20rpx;

    .city {
      margin-right: 10rpx;
    }

    .icon {
      width: 24rpx;
      height: 24rpx;
      margin-top: 4rpx;
      margin-right: 10rpx;
    }
  }
}

.lines-container {
  padding: 5rpx;

  .line-info-container {
    padding: 10rpx;
    background-color: #fff;
    border: solid 1rpx #808080;
    border-radius: 5rpx;
    margin-bottom: 2rpx;

    .info-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20rpx;

      .line-direction {
        .line-name {
          font-weight: bold;
          margin-right: 15rpx;
        }

        .direction {
          font-size: 28rpx;
          margin-right: 10rpx;
        }

        .underline {
          text-decoration: underline;
        }
      }

      .update {
        font-size: 24rpx;
        color: #808080;
        text-decoration: underline;
      }
    }
  }
}
